<h1>Detalles del Producto</h1>

<div>
    <h2>{{product.title}}</h2>
    <p>{{product.description}}</p>
    <p>Precio: ${{product.price}}</p>
    <p>Categoría: {{product.category}}</p>
    <img src="/images/default.jpg" alt="Imagen del producto" class="product-image" width="350" height="350">
    <button onclick="addToCart('{{product._id}}')">Agregar al carrito</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let cartId = localStorage.getItem("cartId");

    async function checkOrCreateCart() {
        if (!cartId) {
            try {
                const response = await fetch('/api/carts', { method: 'POST' });

                if (response.ok) {
                    const data = await response.json();
                    cartId = data._id;
                    localStorage.setItem("cartId", cartId);
                    console.log("Carrito creado con ID:", cartId);
                } else {
                    console.error("Error al crear el carrito");
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al crear el carrito.',
                    });
                }
            } catch (err) {
                console.error("Error al crear el carrito:", err);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ocurrió un error al crear el carrito.',
                });
            }
        }
    }

    async function addToCart(productId) {
        try {
            await checkOrCreateCart();
            const response = await fetch(`/api/carts/${cartId}/product/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                Swal.fire({
                    icon: 'success',
                    title: '¡Producto agregado!',
                    text: 'El producto se ha agregado al carrito con éxito.',
                });
            } else {
                const errorData = await response.json();
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorData.message || "Intenta nuevamente",
                });
            }
        } catch (err) {
            console.error("Error al agregar producto:", err);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Ocurrió un problema al agregar el producto al carrito.',
            });
        }
    }

    checkOrCreateCart();
</script>